* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

div {
    border: 10px solid black;
    margin: 10px;
    padding: 4px;
    text-align: left;
    border-radius: 20%;
}

div h2 {
    padding-left: 20px;
}

#morning {
    background-color: rgb(255, 255, 157);
    border-color: rgb(221, 221, 84);
}

.button {
    text-decoration: none;
    color: white;
    display: inline-block;
    border: 1px solid darkolivegreen;
    margin: 8px;
    border-radius: 4px;
    padding: 4px;
    background-color: rgb(126, 225, 126);
}