@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    
}

.light-outer-container {
    background-color: hotpink;
    padding: 48px 24px;
}

.dark-outer-color {
    background-color: darkmagenta;
    padding: 48px 24px;
    color: white;
}

h2 {
    font-family: "Bitcount Grid Double", system-ui;
}