* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#nav {
    background-color: black;
    display: flex;
    justify-content: center;
}

#nav a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 20px;
}


#hero-image  {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.417), rgba(255, 255, 255, 0.491)),
    url("../images/IMG_1027.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    color: white;
    justify-content: flex-end;
    align-items: center;
    padding: 10%;
}
#hero-img img {
    max-width: 800px;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.masonary-column {
    columns: 3 auto;
    column-gap: 24px;
}

.masonary-column img {
    width: 100%;
    margin-bottom: 24px;
}
@media screen and (max-width: 640px) {
    .masonary-column {
        columns: 2 auto;
        column-gap: 20px;
    }
}

@media screen and (max-width: 450px) {
   
    #nav {
        flex-direction: column;
        align-items: center;

    }
    
}